/*-------------------polices----------------------*/
/*-----logo-------*/
@font-face {
  font-family: "belligerent_madnessregular";
  src: url("police/logo/belligerent-webfont.eot");
  src: url("police/logo/belligerent-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("police/logo/belligerent-webfont.woff2") format("woff2"),
    url("police/logo/belligerent-webfont.woff") format("woff"),
    url("police/logo/belligerent-webfont.ttf") format("truetype"),
    url("police/logo/belligerent-webfont.svg#belligerent_madnessregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
/*-----corps-----*/
@font-face {
  font-family: "abelregular";
  src: url("police/corps/abel-regular-webfont.eot");
  src: url("police/corps/abel-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("police/corps/abel-regular-webfont.woff2") format("woff2"),
    url("police/corps/abel-regular-webfont.woff") format("woff"),
    url("police/corps/abel-regular-webfont.ttf") format("truetype"),
    url("police/corps/abel-regular-webfont.svg#abelregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*------------------------Fin de Polices----------------------------*/
/*-----------------------charte de couleur du site------------------- */
$primaire: #aba598;
$secondaire: #8a9fba;
$tertiaire: white;
$quatrieme: black;
$cinquieme: #f59226;
$sixieme: #9356dc;
$septieme: #b5ae89;

/*-----------------------fin charte de couleur---------------------------*/

/*------------------------------Code commun à toutes les pages CSS---------------------------*/
a {
  text-decoration: none;
  color: $quatrieme;
  &:hover {
    color: darken($sixieme, 20);
  }
}
ul {
  list-style-type: none;
}
html {
  width: 100%;
  height: auto;
  margin: auto;
  background-image: url(image/paper.jpg);
  background-size: cover;
  background-position: center;
}
.bloc_page {
  max-width: 1200px;
  height: auto;
  margin: auto;
  font-size: 1.14rem;
  background-color: lighten($secondaire, 3);
  border-radius: 50px;
  background-image: url(image/teddy_banniere.jpg);
  background-size: cover;
  background-position: center;
  border: 2px $primaire solid;
  box-shadow: 6px 6px 6px $primaire;
  font-family: "abelregular", "Arial", "sans-serif";
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*---------Header-------------*/
header {
  width: 100%;
  height: auto;
  margin: 0;
  background-color: $secondaire;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 2% 0 2%;
  border-radius: 50px 50px 0 0;
  h1 {
    font-family: "belligerent_madnessregular", "Arial", "sans-serif";
  }
  .fa-shopping-cart {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to left, $sixieme, $cinquieme);
  }

  .formulaire_acceuil {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    margin: 0;
    p {
      width: auto;
      height: 40px;
      display: flex;
      justify-content: center;
      align-content: center;
      border: 2px $secondaire solid;
      box-shadow: 6px 6px 6px darken($secondaire, 10);
    }
    label {
      background-color: $tertiaire;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 5px 0 5px;
      border-radius: 5px 0 0 5px;
    }
    #categorie {
      font-size: 1.2rem;
      margin: 0;
    }
  }

  .panier,
  .acceuil {
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2%;
    .btn_panier,
    .btn_acceuil {
      font-size: 1.2rem;
      font-weight: bold;
      border: 2px $primaire solid;
      background-color: $tertiaire;
      box-shadow: 6px 6px 6px darken($secondaire, 10);
      opacity: 1;
      border-radius: 10px;
      padding: 5px;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.2s ease 0s;
      }
    }
  }
}
/*---------Fin header----------*/
/*--------Footer---------------*/

footer {
  width: 100%;
  height: auto;
  background-color: $secondaire;
  border-radius: 0 0 50px 50px;
  margin: 0;
  box-sizing: border-box;
  padding: 2% 0 2% 0;
  .social {
    margin: 2%;
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    margin: 1% 0 1% 0;
    .fa-twitter,
    .fa-facebook,
    .fa-instagram {
      box-sizing: border-box;
      margin: 0 20px 0 20px;
      color: $quatrieme;
      &:hover {
        color: darken($sixieme, 20);
      }
    }
  }
  .informations {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    .information1,
    .information2,
    .information3 {
      width: 30%;
      height: auto;
      border: 2px solid darken($secondaire, 4);
      background-color: lighten($secondaire, 2);
      box-shadow: 6px 6px 6px darken($secondaire, 4);
      box-sizing: border-box;
      padding: 5px;
      border-radius: 20px;
      li {
        margin: 5% 0 5% 0;
        font-weight: bold;
      }
    }
  }
}
/*----------fin footer------*/
/*------------------------------Fin de code commun -----------------*/

/*------------------------------Acceuil*---------------------------*/
.choix_produit {
  width: 70%;
  height: auto;
  box-sizing: border-box;
  img {
    width: 100%;
    height: 23rem;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  h2,
  div {
    width: 100%;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    background-color: $tertiaire;
    background-color: lighten($secondaire, 18);
  }
  .price {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 110%;
    margin-top: 0;
    border-radius: 0 0 20px 20px;
  }
  a {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

/* -------------------------------Fin acceuil ---------------------------------*/

/*------------------------------index des Ours----------------------------------*/
#Carte {
  border: 5px red solid;
}
/*-------------------------------------------------Panier--------------------------------*/
/*---tableau----*/
.tableau {
  border: 5px darken($septieme, 10) solid;
  width: 100%;
  height: auto;
  background-color: $septieme;
  opacity: 0.8;
  th {
    font-weight: bold;
    font-size: 120%;
    text-decoration: underline;
  }
}
/*---fon tableau---*/
/*---coordonnées---*/
.coordonees_formulaire {
  font-size: 100%;
  font-weight: bold;
  box-sizing: border-box;
  padding-left: 2%;
  input:focus {
    background-color: lighten($secondaire, 20);
  }
}
/*--------------------------------------------Fin Panier---------------------------------------*/
/*--------------------------------------------Recapitulatif-----------------------------------*/
/*-------------------------------------------Fin Recapitulatif--------------------------------*/

/*-------------------------------------------Media Querries-----------------------------------*/
/*format tablette */
@media screen and (max-width: 1200px) and (min-width: 767px) {
  /*----------------acceuil---------------*/
  .choix_produit .choix_produit1 a {
    width: 80%;
    height: auto;
    margin: 1% 0 1% 0;
  }
  .choix_produit .choix_produit2 a {
    width: 80%;
    height: auto;
    margin: 1% 0 1% 0;
  }
  .choix_produit1,
  .choix_produit2 {
    flex-direction: column;
    align-items: center;
  }
  .choix_produit .choix_produit1 .choix_ours1,
  .choix_produit .choix_produit1 .choix_ours2,
  .choix_produit .choix_produit1 .choix_ours3,
  .choix_produit .choix_produit2 .choix_ours4,
  .choix_produit .choix_produit2 .choix_ours5 {
    height: 400px;
  }
  /*------------fin acceuil------*/

  /*-----------index ours-------*/
  #ours_brun,
  #ours_creme,
  #ours_duo,
  #ours_teeshirt,
  #ours_doux {
    display: flex;
    justify-content: center;
  }
  .description {
    flex-direction: column;
    width: 90%;
    height: auto;
    padding-bottom: 4%;
  }
  .description .description_photo {
    width: 100%;
  }
  .description .description_photo img {
    border-radius: 50px;
  }
  /*-----------fin index ours---------*/

  /*-----------footer------------------*/
  .informations {
    flex-direction: column;
    align-items: center;
  }
  footer .informations .information1,
  footer .informations .information2,
  footer .informations .information3 {
    width: 80%;
    margin: 1% 0 1% 0;
  }
  /*------Fin footer-----*/
}

/*-----------------------format telephone-----------------*/
@media screen and (max-width: 768px) {
  /*--------------------header---------------------------*/
  header {
    flex-direction: column;
    padding-bottom: 4%;
    font-size: 110%;
    h1 {
      text-align: center;
    }
  }
  header .formulaire_acceuil label {
    font-size: 90%;
    padding: 10px;
  }
  /*-------------------fin header-----------------------*/

  /*-------------------acceuil-------------------------*/
  .choix_produit .choix_produit1 a {
    width: 80%;
    height: auto;
    margin: 1% 0 1% 0;
  }
  .choix_produit .choix_produit2 a {
    width: 80%;
    height: auto;
    margin: 1% 0 1% 0;
  }
  .choix_produit1,
  .choix_produit2 {
    flex-direction: column;
    align-items: center;
  }
  .choix_produit .choix_produit1 .choix_ours1,
  .choix_produit .choix_produit1 .choix_ours2,
  .choix_produit .choix_produit1 .choix_ours3,
  .choix_produit .choix_produit2 .choix_ours4,
  .choix_produit .choix_produit2 .choix_ours5 {
    height: 400px;
  }
  /*------------fin acceuil------*/

  /*-----------index ours-------*/
  #ours_brun,
  #ours_creme,
  #ours_duo,
  #ours_teeshirt,
  #ours_doux {
    display: flex;
    justify-content: center;
  }
  .description {
    flex-direction: column;
    width: 90%;
    height: auto;
    padding-bottom: 4%;
  }
  .description .description_photo {
    width: 100%;
  }
  .description .description_photo img {
    border-radius: 50px;
    height: 300px;
  }
  .description .description_choix select,
  .description .description_choix input {
    width: 90%;
  }
  .description .ajouter input {
    width: auto;
  }
  /*-----------fin index ours---------*/
  /*-----------footer------------------*/
  .informations {
    flex-direction: column;
    align-items: center;
  }
  footer .informations .information1,
  footer .informations .information2,
  footer .informations .information3 {
    width: 80%;
    margin: 1% 0 1% 0;
  }
}
